html {
	background-color: black;
}

body {
	height: 100%;
	overflow: hidden;
}

.input-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-family: Geneva;
}

input {
	border: none;
	background-color: transparent;
	text-align: center;
	color: white;
	outline: none;
	margin-top: -20%;
	font-size: 100px;
}

h1 {
	color: white;
}

.gif-background {
	height: 100%;
	width: 100%;
}

img {
	position: absolute;
	z-index: -10;
	height: auto;
	width: 100%;
	filter: grayscale(100%) brightness(25%);
}
